h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: blue;
    font-weight: bolder;
}
body {
    background-image: url(/imgs/pizzabw.jpg);
    background-color: lightblue;
    color: rgb(0, 26, 255);
    font-size: larger;
  }
  h2{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: rgb(0, 255, 42);
}
p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: rgb(200, 255, 0);
    font-display: fallback;
}
button{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: rgb(200, 255, 0);
    font-weight: bolder;
}
  
button:hover {
    background-color: rgb(255, 0, 55);
  }
  button:active {
    background-color:rgb(0, 30, 128);
  }
  img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;

}
